@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');

*::-webkit-scrollbar,
body::-webkit-scrollbar,
.App::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

.tab-component-bs::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

body::-webkit-scrollbar-thumb,
.App::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, purple, #E491E8);
  border-radius: 10px;
}

body::-webkit-scrollbar-track,
.App::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  width: 8px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.transition {
  transition: all .5s;
  left: 0;
}